<h1>Inschrijven van {{kind.firstName}} {{kind.lastName}}</h1>
<mat-card>
    <form [formGroup]="reservatie" (ngSubmit)='onSubmit()'>
        <p><mat-form-field >
              <input matInput placeholder="datum" type="date" 
              aria-label="datum"
              formControlName="date"
              required
              data-cy="date"
              #spy/>
              <mat-error *ngIf="reservatie.get('date')['errors'] && 
              reservatie.get('date').touched"> 
                      {{ getErrorMessage(reservatie.get('date')['errors']) }}
                </mat-error>

            <label>Vooropvang</label>
            <label>
                <input type="radio" name="earlier" formControlName="earlier" [value]="true" />Ja
            </label>
            <label>
                <input type="radio" name="earlier" formControlName="earlier" [value]="false" />Nee
            </label>
            <label>Naopvang</label>
            <label>
                <input type="radio" name="later" formControlName="later" [value]="true" />Ja
            </label>
            <label>
                <input type="radio" name="later" formControlName="later" [value]="false" />Nee
            </label>

            
        </mat-form-field></p>
        
        <mat-card-actions>
            <button type='submit'mat-raised-button  [disabled]='!reservatie.valid' data-cy="addreservationButton">
                bevestig reservatie
              </button>
          </mat-card-actions>
    </form>
    </mat-card>
    <mat-card class="error" *ngIf="errorMessage" data-cy="appError">
        Aanmaken reservatie mislukt: {{ errorMessage }}
  </mat-card>
  <mat-card class="confirmation" *ngIf="confirmationMessage" data-cy="appConfirmation">
        {{ confirmationMessage }}
  </mat-card>