    <p><mat-form-field>
      <input matInput placeholder="voornaam" type="text" 
          #newkidfirstname />
    </mat-form-field></p>
    <p><mat-form-field>
          <input matInput placeholder="familienaam" type="text" 
          #newkidlastname />
    </mat-form-field></p>
    <p><mat-form-field>
          <input matInput placeholder="geboortedatum" type="date" 
          #newkidbirthdate/>
    </mat-form-field></p>
    <mat-card-actions>
        <button (click)="addKind(newkidlastname, newkidfirstname, newkidbirthdate)" mat-raised-button>
            registreer kind
          </button>
      </mat-card-actions>

